@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&family=Teko:wght@600&display=swap");

body {
  font-family: "Lato", sans-serif;
  text-align: center;
  background-color: #ffece2;
}

h1 {
  font-family: "Teko", sans-serif;
  font-size: 60px;
  line-height: 72px;
  color: #750000;
}

h2 {
  font-family: "Teko", sans-serif;
  font-size: 45px;
  line-height: 43px;
  color: #020202;
  border-top: 2mm ridge rgba(84, 79, 87, 0.6);
  border-bottom: 2mm ridge rgba(84, 79, 87, 0.6);
}

h3 {
  font-size: 20px;
  color: #383434;
}

p {
  font-size: 15px;
  color: #580707;
}

.spicy:before {
  width: 16px;
  height: 16px;
  content: "";
  background-image: url("../assets/spicy.svg");
  background-repeat: no-repeat;
  display: inline-block;
  padding-right: 10px;
  position: relative;
  top: 1px;
}

.spcy-items {
  display: block;
  border-top: 20mm ridge rgba(161, 72, 212, 0.6);
}

.container {
  align-items: center;
  width: 100%;
  white-space: 20px;
  display: inline-block;
}
